{:lein   true
 :nrepl  {:port 9000}
 :builds {:cards {:target           :browser
                  :output-dir       "resources/public/js/cards"
                  :asset-path       "/js/cards"
                  :compiler-options {:devcards true}
                  :modules          {:main
                                     {:entries [transitions.cards]}}
                  :devtools         {:after-load transitions.cards/refresh
                                     :preloads   [fulcro.inspect.preload shadow.cljs.devtools.client.hud]
                                     :http-root  "resources/public"
                                     :http-port  8023}}}}
